.stagePane{
    width: 250px;
    height: calc(100vh - 64px);
    position: relative;
    padding: 5px 0;

    .stage{
        margin: 5px;
        cursor: pointer;

        &.active {
            border: 1px solid blue;
        }

        small.mongoStage {
            background: grey;
            border: 1px solid black;
            color: white;
            border-radius: 10%;
            padding: 2px;
        }
    }
}

.editorPane{
    position: absolute;
    top: 64px;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 64px);

    box-sizing: border-box;
    .editor{
        height: calc(100% - 500px);
    }

    .preview{
        display: flex;
        height: 500px;
        justify-content: stretch;

        .input{
            width: 50%;
            overflow: auto;

        }

        .output{
            width: 50%;
            overflow: auto;

        }
    }
}